@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using BaseTemplateModule.HtmlHelper;
@using System.Threading;
@{
    var siteUrl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    var domain = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + @Url.Content("~/");
    var currentUrl = @Request.Url.AbsoluteUri;
    string homeClass = "";
}

@if (domain == currentUrl) { homeClass = "home"; }

<!DOCTYPE html>
<!--[if lt IE 9]>     <html class="no-js lt-ie10 lt-ie9" @Html.RenderLangAttribute()><![endif]-->
<!--[if IE 9]>        <html class="no-js lt-ie10 ie9" @Html.RenderLangAttribute()><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" @Html.RenderLangAttribute()>
<!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    @Html.Section("head")
    @Html.StyleSheet(Url.Content("~/ResourcePackages/Talon/assets/dist/css/main.min.css"), "head")
    <script>
        (function () {
            "use strict";
            var el = document.getElementsByTagName('html')[0],
                nojsClass = "no-js", jsClass = "js";
            if (el.classList) {
                el.classList.remove(nojsClass);
                el.classList.add(jsClass);
            } else {
                el.className = el.className.replace(new RegExp('(^|\\b)' + nojsClass.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
                el.className += ' ' + jsClass;
            }
        }());
    </script>
    <!--[if lt IE 9]>@Html.Script(Url.WidgetContent("assets/dist/js/respond.min.js"))<![endif]-->
    @*
        ** Basic JSON-LD for websites. You can update these properties accordingly and uncomment - or delete this.
        @if(domain == currentUrl) {
        <script type='application/ld+json'>{"@@context":"http:\/\/schema.org","@@type":"WebSite","@@id":"@domain","url":"@siteUrl","name":"AE","potentialAction":{"@@type":"SearchAction","target":"@siteUrl?searchQuery={search_term_string}","query-input":"required name=search_term_string"}}</script>
        }
    *@
</head>

<body class="@homeClass">
    <div style="display:none">
        @Html.GetGlobalHeadSettings(Thread.CurrentThread.CurrentCulture.Name)
        @Html.GetHomeHeadSettings(Thread.CurrentThread.CurrentCulture.Name)
        @Html.GetSiteTopSettings(Thread.CurrentThread.CurrentCulture.Name)
        @Html.GetSiteBottomSettings(Thread.CurrentThread.CurrentCulture.Name)
        @Html.GetGenericSettings(Thread.CurrentThread.CurrentCulture.Name)
    </div>
    @Html.Section("top")

    <header id="site-header" class="site-header" role="banner">
        @Html.SfPlaceHolder("SkipLinks")
        @Html.SfPlaceHolder("SVG")
        @Html.SfPlaceHolder("Header")
    </header>

    <main id="site-main" class="site-main" tabindex="-1" role="main">
        @Html.SfPlaceHolder("Main")
    </main>

    <footer id="site-footer" class="site-footer" role="contentinfo">
        @Html.SfPlaceHolder("Footer")
    </footer>

    @* Scripts *@
    @Html.Section("scripts")
    @if (!SitefinityContext.IsBackend)
    { @Html.Script(ScriptRef.JQuery, "scripts") }
    @Html.Script(Url.WidgetContent("assets/dist/js/all.min.js"))
    @Html.SfPlaceHolder("SCRIPTSANDSTYLES")

    @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
    @if (Html.ShouldRenderInlineEditing())
    {
        @Html.Script(ScriptRef.MicrosoftAjax, "top")
        @Html.Script(ScriptRef.MicrosoftAjaxCore, "top")
        @Html.Script(ScriptRef.JQuery, "top")
        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "top")
        @Html.Script(ScriptRef.KendoAll, "top")
        @Html.Script(ScriptRef.KendoTimezones, "top")
        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "top")
        @Html.InlineEditingManager(false)
    }

    @Html.Section("bottom")
</body>
</html>