@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Lists.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using System.Linq;

<div class="list-tool modules anchor-list @Model.CssClass">
    @foreach (var item in Model.Items) {
        <h1 id="@item.Fields.Id-Top">@item.Fields.Title</h1>
        <ul>
            @foreach (var listItem in ((ListViewModel)item).ListItemViewModel.Items){
                <li>
                    <a href="#@listItem.Fields.Id">@listItem.Fields.Title</a>
                </li>
            }
        </ul>
    }

    @foreach (var item in Model.Items) {
        <h2 id="@item.Fields.Id">@item.Fields.Title</h2>
        <ul class="item-list">
        @foreach (var listItem in ((ListViewModel)item).ListItemViewModel.Items){
            <li class="item">
                <h3 id="@listItem.Fields.Id"> @listItem.Fields.Title </h3>
                <div>@Html.HtmlSanitize((string)listItem.Fields.Content)</div>
                <p><a href="#@item.Fields.Id-Top">@Html.Resource("BackToTop")</a></p>
            </li>
        }
        </ul>
    }
</div>