@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Lists.Mvc.Models;

@* @Html.Script(ScriptRef.JQuery) *@

<div class="list-tool modules expand-list @Model.CssClass">
    <div class="pull-right">
        <a href="#" data-sf-role="expandAll">@Html.Resource("ExpandAll")</a>
        <a class="pull-right" href="#" data-sf-role="collapseAll" style="display:none;">@Html.Resource("CollapseAll")</a>
    </div>

    @foreach (var item in Model.Items) {
        <h3>@item.Fields.Title</h3>
        <ul class="item-list" id="@item.Fields.Id-expandable">
        @foreach (var listItem in ((ListViewModel)item).ListItemViewModel.Items) {
            <li class="item">
                <a href="#@listItem.Fields.Id-expandable" data-hold="true"data-target="@listItem.Fields.Id-expandable" data-toggle="tab" data-parent="@item.Fields.Id-expandable">@listItem.Fields.Title</a>
                <div class="item-content" id="@listItem.Fields.Id-expandable">@Html.HtmlSanitize((string)listItem.Fields.Content)</div>
            </li>
        }
        </ul>
    }
</div>

@* @Html.Script(Url.WidgetContent("Mvc/Scripts/Lists/lists.js")) *@