@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery;
@using Telerik.Sitefinity.Modules.Pages;

@* @Html.Script(ScriptRef.JQuery, "top") *@

<div class="photo-gallery">
    @{int itemIndex = 0;}
    @foreach (var item in Model.Items) {
        <div class="photo-gallery-item">
            <a class="photo-overlay" href="@(((ThumbnailViewModel)item).ThumbnailUrl)">
                <img src="@(((ThumbnailViewModel)item).ThumbnailUrl)" alt="@item.Fields.AlternativeText" title="@item.Fields.AlternativeText" />
            </a>
        </div>
        itemIndex++;
    }
</div> 

@if (Model.ShowPager) {
  @Html.Action("Index", "ContentPager", new {
        currentPage = Model.CurrentPage, totalPagesCount = Model.TotalPagesCount.Value, redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
    })
}